@font-face {
    font-family: "langosta";
    src: url("/fonts/Lobster/Lobster-Regular.ttf");
  }
  
  * {
    font-family: "langosta";
  }
  img{
      height: 100px;
      position: absolute;
      position: 100px;
  }
  nav {
    width: 50%;
  }
  
  .list-menu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
  
  a {
    color: black;
    text-decoration: none;
  }
  
  header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(214,214,214);
  }